fastapi==0.103.0
uvicorn==0.24.0
SQLAlchemy==2.0.22
aiosqlite==0.21.0
greenlet==3.0.2
httptools==0.6.0
black==21.12b0
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-pie==0.15.0
isort==5.9.3
mypy==0.931
pytest==8.4.0
requests==2.32.3
pytest-asyncio==1.0.0
httpx~=0.25.0
Jinja2==3.1.6
pydantic-core==2.15.1
